<h2 id="education">Education</h2>

<ul>
    <li><b>Ph.D. Student, Agricultural Engineering - Crop Science</b>,
    </li>
</ul>

<ul>
    <li><b>M.Eng. </b>in<b> Artificial Intelligence - Computer Science</b>
      <br />
    <font size="3">
    Oregon State University (OSU), OR, USA | <i>Graduate Research Assistant</i>
    </font>
    <br />
    </li>
</ul>

<ul>
    <li><b>M.Sc. </b>in<b> Digital Electronic Systems - Electrical Enginerring</b>
    <br />
    <font size="3">
    University of Science and Technology (IUST) | <i>First-rank GPA Scholarship</i>
    </font>
    <br />
    </li>
</ul>

<ul>
    <li><b>B.E | A.E. </b>in<b> Electronic Engineering</b>
    <br />
    <font size="3">
    Technical and Vocational University
    </font>
    <br />
    </li>
</ul>
