<h2 id="experiences">Experiences</h2>

<ul>
    <li><b>Graduate Research Assistant</b>, Oregon State University (OSU),
    <br />
    <font size="3">
      - <b>Graduate Research Assistant:</b> Dynamic Robotics and Artificial intelligence Lab (DRAIL) 
    </font>
    <br />
    <font size="3">
      - <b>Graduate Research Assistant:</b> Percision Agriculture Innovation Lab | <i>Smart Weed Managment</i>
    </font>
    <br />
    </li>
</ul>

<ul>
    <li><b>Project Intern</b>,  Oregon State University (OSU),
    <br />
    <font size="3">
      - <b>Research Intern:</b> Agricultural Robotics Lab | <i>Harvasting Agricultre Robot</i>
    </font>
    <br />
    </li>
</ul>

<ul>
    <li><b>Research Assistant</b>,  University of Science and Technology (IUST),
    <br />
    <font size="3">
      - <b>Computer Vision Engineer:</b> Machine Vision Lab | <i>AI-based Medical Detection Systems</i>
    </font>
    <br />
    </li>
</ul>
<ul>
    <li><b>Research Collaborator</b>,  Beheshti University of Medical Science,
    <br />
    <font size="3">
      <b>- Computer Vision Software Engineer:</b> Biomedical Research Group | <i>AI-based Mobile Application in Medical Challenges</i>
    </font>
    <br />
    </li>
</ul>
