<h2 id="experiences">Experiences</h2>

<ul>
    <li><b>Graduate Research Assistant</b>, Oregon State University (OSU),
    <br />
    <font size="3">
      - <b>Embodied AI Engineer:</b> Dynamic Robotics and Artificial intelligence Lab (DRAIL) |
      <i>Spot Robot Perception System</i>
    </font>
    <br />
    <font size="3">
      - <b>Computer Vision Engineer:</b> Percision Agriculture Lab | <i>Weed Detection System</i>
    </font>
    <br />
    </li>
</ul>

<ul>
    <li><b>Project Intern</b>,  Oregon State University (OSU),
    <br />
    <font size="3">
      - <b>Robotic Software Engineer:</b> Agricultural Robotics Lab | <i>Path Planning in Harvasting Agricultre Robot UR5</i>
    </font>
    <br />
    </li>
</ul>

<ul>
    <li><b>Research Assistant</b>,  University of Science and Technology (IUST),
    <br />
    <font size="3">
      - <b>Computer Vision Engineer:</b> Machine Vision Lab | <i>AI-based Medical Detection Systems</i>
    </font>
    <br />
    </li>
</ul>
<ul>
    <li><b>Research Collaborator</b>,  Beheshti University of Medical Science,
    <br />
    <font size="3">
      <b>- Computer Vision Software Engineer:</b> Hematology Research Group and Radiology Research Group | <i>AI-based Mobile Application in Medical Challenges</i>
    </font>
    <br />
    </li>
</ul>
