<h2 id="research-and-projects">Research and Projects</h2>
<ul>

  <!-- Project 1 -->
  <li>
    <strong>[2026] Object Grounding in Spot</strong>
    <ul>
      <li>Developed AI modules enabling the Spot to detect, label, and localize household objects in 3D space to build a semantic world map for language-guided navigation.</li>
      <li>Designed multimodal pipelines, maintain simulation environments, and conduct testing/debugging for milestone-based research progress.</li>
      <li>Usecase in Agriculture Automations and sensing</li>
      <!-- <li>
        Links (previous API modules and tests):
        <a href="https://github.com/MAmirEshraghi/perception_tiamat_drail">[GitHub]</a>
      </li> -->
      <li>
        <img src="/images/d3.png" alt="L1" style="max-width:650px;" />
      </li>
    </ul>
  </li>
  <!-- Project 2 -->
  <li>
    <strong>[2025] Path Planning and Trajectory Generation for Robotic Arm in Apple Harvesting</strong>
    <ul>
      <li>Developed a simulation-based framework for planning and executing collision-free trajectories for a UR5 robotic arm for autonomous apple harvesting.</li>
      <li>Built RRT/RRT-Connect modules with collision checking, reachability analysis, and visibility constraints. Integrated the full pipeline in ROS and PyBullet with environment setup, kinematics, and testing routines. Enabled smooth trajectory generation for reproducible experiments in agricultural robotic manipulation.</li>

      <li>
        Links:
        <a href="https://github.com/OSUrobotics/pybullet-tree-sim/tree/feature/apple_path_planning_robinEsh">[GitHub]</a>
        <a href="https://www.youtube.com/watch?v=L9cdALAOvzs">[Demo]</a>
        <br/>
        <img src="/assets/armRobot1.gif" alt="arm" style="max-width:400px;" />
      </li>
    </ul>
  </li>

  <!-- Project 2-2 -->
  <li>
    <strong>[2024-2026] Weed Detection System in Percision Agriculture</strong>
    <ul>
      <li>Developed an object detection system processing high-resolution drone orthomosaics through a custom computer vision pipeline to detect weeds and generate GIS coordinates to support autonomous sprayer tractors to perform targeted herbicide application
      <a href="https://github.com/MAmirEshraghi/WeedID_YOLOs">[GitHub]</a>
      <br/>
      <img src="/assets/images/W1.png" alt="w1" style="max-width:600px;" />
    </ul>
  </li>

  <!-- Project 3 -->
  <li>
    <strong>[2023] Blood Cell Mobile Application</strong>
    <ul>
      <li>Developed a smartphone-based AI system for detection and staging of leukemia from microscopic blood cell images.</li>
      <li>
        Links:
        <a href="https://doi.org/10.1016/j.imu.2023.101244">[Paper]</a>
        <a href="https://github.com/MAmirEshraghi/Lightweight-Deep-CNN-Based-Mobile-App-in-the-Screening-of-ALL">[GitHub]</a>
        <a href="https://www.kaggle.com/datasets/mohammadamireshraghi/blood-cell-cancer-all-4class">[Dataset]</a>
        <br/>
        <img src="/assets/images/LeukemiaClassificatio1.jpg" alt="L1" style="max-width:700px;" />

      </li>
    </ul>
  </li>

</ul>
